* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body,
html {
    height: 100vh;
    width: 100vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #515151;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

main {
    position: relative;
    height: 90%;
    border-radius: 1rem;
    width: 50%;
    background-color: #131313;
}

.playerInfo {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    height: 15vh;
    background: #131313;
    border-bottom: #515151 2px solid;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sameDiv {
    background: #515050;
    border-radius: 1rem;
    padding: 1rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    cursor: pointer;
    padding: .7rem;
    border: none;
    border-radius: 1rem;
    background: #e79df4;
}

.playgroundLayout {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 100%;
    /* background: rgba(255, 0, 0, 0.574); */
    padding: 1rem;
}

.vertical {
    position: absolute;
    pointer-events: none;
    /* background: #c75c5c87; */
    display: flex;
    align-items: center;
    justify-content: center;
    rotate: 90deg;
    height: 100%;
    width: 100%;
}

.horizantal {
    position: absolute;
    /* background: #f27d7d9a; */
    pointer-events: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Line {
    height: 95%;
    border-radius: 1rem;
    width: 2%;
    background-color: red;
    background-color: #515050;
    margin: 0 5.6rem;
}

.play {
    display: grid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    grid-template-columns: 200px 150px 200px;
    grid-template-rows: 200px 150px 200px;
}

p {
    opacity: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    font-size: 8rem;
    color: #848181;
    font-weight: 100;
}

.massage{
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(163, 161, 161);
    border-radius: 2rem;
    border: 1px solid #daafd5 ;
    height: 30vh;
    width: 30vw;
    backdrop-filter: blur(5px);
}

.ok{
    margin-top: 1.5rem;
    padding: 0.5rem 2rem;
}

.btn:hover {
    background-color: #daafd5;
}

.btn:active {
    border: 2px solid #aeaeae;
}

@media screen and (max-width:600px) {
    main {
        height: 100vh;
        width: 100vw;
        border-radius: 0;
    }

    .playerInfo {
        height: 7vh;
        padding: 0.5rem;
    }

    .sameDiv {
        padding: .5rem 1.5rem;
    }

    .btn {
        padding: .5rem;
    }

    .Line {
        height: 50%;
        margin: 0 3.5rem;
        width: 2%;
    }

    .play {
        grid-template-columns: 130px 95px 130px;
        grid-template-rows: 130px 95px 130px;
    }

    p {
        font-weight: 600;
        font-size: 6rem;
    }

    .massage{
        width: 80vw;
        height: 20vh;
    }

    .ok{
        margin-top: 1.5rem;
        padding: 0.5rem 2rem;
    }
}