:root{
    --body-bg:#515151;
    --main-bg:#131313;
    --playerInfo-bg: #131313;
    --btn-bg:#e79df4;
    --p-color:#848181;
    --btn-hover:#daafd5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body,
html {
    height: 100vh;
    width: 100vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--body-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

main {
    position: relative;
    height: 90%;
    border-radius: 1rem;
    width: 50%;
    background-color: var(--main-bg);
}

.playerInfo {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    height: 15vh;
    background: var(--playerInfo-bg);
    border-bottom: 2px solid var(--body-bg);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sameDiv {
    background:var(--body-bg);
    border-radius: 1rem;
    padding: 1rem 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    cursor: pointer;
    padding: .7rem;
    border: none;
    border-radius: 1rem;
    background: var(--btn-bg) ;
}

.playgroundLayout {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 100%;
    padding: 1rem;
}

.vertical {
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    rotate: 90deg;
    height: 100%;
    width: 100%;
}

.horizantal {
    position: absolute;
    pointer-events: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Line {
    height: 95%;
    border-radius: 1rem;
    width: 2%;
    background-color: var(--body-bg);
    margin: 0 5.6rem;
}

.play {
    display: grid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    grid-template-columns: 200px 150px 200px;
    grid-template-rows: 200px 150px 200px;
}

p {
    opacity: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    font-size: 8rem;
    color: var(--p-color);
    font-weight: 100;
}

.massage{
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--btn-bg);
    border-radius: 2rem;
    border: 2px solid var(--btn-hover) ;
    height: 30vh;
    width: 30vw;
    backdrop-filter: blur(5px);
}

.ok{
    margin-top: 1.5rem;
    padding: 0.5rem 2rem;
}

.btn:hover {
    background-color: var(--btn-hover);
}

.btn:active {
    border: 2px solid var(--btn-hover);
}

@media screen and (max-width:600px) {
    main {
        height: 100vh;
        width: 100vw;
        border-radius: 0;
    }

    .playerInfo {
        height: 7vh;
        padding: 0.5rem;
    }

    .sameDiv {
        padding: .5rem 1.5rem;
    }

    .btn {
        padding: .5rem;
    }

    .Line {
        height: 50%;
        margin: 0 3.5rem;
        width: 2%;
    }

    .play {
        grid-template-columns: 130px 95px 130px;
        grid-template-rows: 130px 95px 130px;
    }

    p {
        font-weight: 600;
        font-size: 6rem;
    }

    .massage{
        width: 80vw;
        height: 20vh;
    }

    .ok{
        margin-top: 1.5rem;
        padding: 0.5rem 2rem;
    }
}

/* For light mode */
@media (prefers-color-scheme: light) {
    :root{
        --body-bg:#8CB9BD;
        --main-bg:#C6DCBA;
        --playerInfo-bg: #BBC3A4;
        --btn-bg:#aaaaaa;
        --btn-hover:#acd2fd;
        --p-color: #40A2E3;
        /* --p-color: #474F7A; */ 
  }
}

  /* For dark mode */
  @media (prefers-color-scheme: dark) {
    :root{
        --body-bg:#515151;
        --main-bg:#131313;
        --playerInfo-bg: #131313;
        --btn-bg:#e79df4;
        --p-color:#848181;
        --btn-hover:#daafd5;
    }
  }
   
